<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Course System</title>
    <link rel="stylesheet" href="css/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font/css/all.min.css">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <header>
        <div class="header-wrapper text-center">
            <h1 class="text-white">NACOSS COURSE SYSTEM</h1>
        </div>
        <nav class="navbar">
            <p class="btn btn-outline-primary"><a href="/" class="text-white">Home <i class="fas fa-home"></i></a>
            </p>
            <p class="btn btn-primary"><a href="/ndone" class="text-white">ND I <i class="fas fa-user"></i></a></p>
            <p class="btn btn-primary"><a href="/ndtwo" class="text-white">ND II <i class="fas fa-user"></i></a>
            </p>
            <p class="btn btn-primary"><a href="/hndone" class="text-white">HND I <i class="fas fa-user"></i></a>
            </p>
            <p class="btn btn-primary"><a href="/hndtwo" class="text-white">HND II <i class="fas fa-user"></i></a>
            </p>
        </nav>
    </header>
    <main class="container mt-5" style="height: calc(100vh - 250px);">
        <h1>Welcome to NACOSS COURSE SYSTEM</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam quibusdam recusandae iure expedita at
            facilis omnis esse in, eius magni voluptas provident praesentium deleniti. Modi atque distinctio libero
            alias suscipit.</p>
    </main>
    <footer class="bg-light text-center p-2" style="height: 17vh;">
        <h6>Powered By Hi-Tech</h6>
        <p>&copy; 2022</p>
    </footer>
</body>

</html>